# Environment variables & secrets
.env
*.session
*.session-journal
restart.tmp
autoreply_data.json

# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
assets/*_original.*
